/* Add your own styles */
body{
	background-color: hsl(249, 20%, 60%);
	display: flex;
	flex-direction:column;
	justify-content: center;
}

header{
	text-align: center;
	margin: auto;
}

h1{
	color: white;
	border-radius: 5px;
}
main{
	display: flex;
	flex-direction:column;
	justify-content: center;
	text-align: center;
	margin: auto;
}

div#controls{
	display: flex;
	flex-direction:row;
	justify-content: center;
	text-align: center;
	margin: auto;
}

#result{
	text-align: center;
	height: auto;
	width: auto;
	margin: auto;
	margin-top: 20px;
	background-color: hsl(240,50%,60%);
	border-radius: 10px;
}

button{
	height: 75px;
	width: 150px;
	background-color: hsl(255, 10%, 50%);
	color:white;
	border-radius: 5px;
	font-size: 25px;
	margin: auto;
}

input[placeholder]{
	font-size:28px;
}


label{
	font-size: 50px;
	color: white;
	background-color: hsl(210, 20%, 60%);
	border-radius: 10px;
}
#country{
	height:75px;
	width: 310px;
	border-radius: 5px;
}
